{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card text-white">
            <div class="card-body">
                <h1 class="card-title">Welcome to Tired Ape</h1>
                <p class="card-text">This is my personal web application hub running on a Raspberry Pi 2. Here you'll find various web applications I've built.</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="card text-white">
            <div class="card-body">
                <h5 class="card-title">Quick Stats</h5>
                <p class="card-text">
                    <ul>
                        <li>Server: Raspberry Pi 2</li>
                        <li>Framework: Flask</li>
                        <li>Projects: Coming Soon</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card text-white">
            <div class="card-body">
                <h5 class="card-title">Latest Updates</h5>
                <p class="card-text">Website launched! More features coming soon.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
